table {
  table-layout: fixed;
  border-collapse: collapse;
  border-radius: 20px;
  overflow: hidden !important;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}


.mat-column-select {
  width: 22px;
  max-width: 22px;
  padding: 0 0 0 16px;
}

.mat-column-name {
  padding: 0 16px 0 5px
}

.mat-column-surname, .mat-column-email, .mat-column-phone, .mat-column-name {
  width: 100px;
  max-width: 280px !important;
}

.mat-column-phone {
  padding-right: 200px;
}

.mat-column-email, .mat-column-phone {
  text-align: end;
}

::ng-deep .mat-mdc-header-cell.mat-column-phone,
::ng-deep .mat-mdc-header-cell.mat-column-email {
  .mat-sort-header-container {
    flex-direction: row-reverse;
  }
}

.mat-mdc-row {
  &:hover {
    color: rgb(49 100 203);
    cursor: pointer;
    text-decoration: underline;
    background: rgb(246, 249, 255);
  }
}
